* {
  position: relative;
  box-sizing: border-box;
  user-select: none;
}

body {
  font-family: var(--font-family-reg);
  color: var(--color-black);
}

a {
  color: inherit;
}
a:hover {
  text-decoration: none;
}

#wrapper {
  padding: 20px;

  display: grid;
  grid-template-areas:
    "visualizer visualizer"
    "choreo codeExport"
    "footer footer";
  column-gap: 20px;
  row-gap: 20px;
  grid-template-rows: auto;

  max-width: 1200px;
  height: 100vh;
  margin: 0 auto;
  grid-template-columns: 320px 1fr;
  grid-template-rows: 100px 1fr 20px;

}

@media screen and (max-width: 620px) {
  #wrapper {
    grid-template-areas:
      "liveIndicator"
      "choreo"
      "onDevice";
    grid-template-columns: 1fr;
  }
}

.choreoBuilder {
  grid-area: choreo;
}
