* {
  position: relative;
  box-sizing: border-box;
  user-select: none;
}

body {
  font-family: var(--font-family-reg);
  color: var(--color-black);
  background: var(--color-white);
}

a {
  color: inherit;
}
a:hover {
  text-decoration: none;
}

#wrapper {
  padding: 20px;

  display: grid;
  grid-template-areas:
    "visualizer visualizer"
    "choreo codeExport"
    "footer footer";
  column-gap: 20px;
  row-gap: 20px;
  grid-template-rows: auto;

  max-width: 1200px;
  height: 100vh;
  margin: 0 auto;
  grid-template-columns: 320px 1fr;
  grid-template-rows: 100px 1fr 20px;

}

@media screen and (max-width: 620px) {
  #wrapper {
    height: initial;
    grid-template-areas:
      "visualizer"
      "choreo"
      "codeExport"
      "footer";
    grid-template-columns: 1fr;

    grid-template-rows: 60px auto 1fr 20px;
  }
}

.choreoBuilder {
  grid-area: choreo;
}


.addPartButton {
  padding: 10px;
  border-radius: 10px;
  background: var(--color-gray-light);
  border: 0.5px solid rgba(0, 0, 0, 0.12);
  cursor: pointer;
  text-align: center;
}
.addPartButton:active {
  background: var(--color-gray-medium);
}
