:root {
  /* Typography */
  --font-family-reg: 'IBM Plex Sans', sans-serif;
  --font-family-mono: 'IBM Plex Mono', monospace;

  /* Colors */
  --color-white: #F7FAFC;
  --color-black: #061424;

  --color-choreo-up: #3498db;
  --color-choreo-down: #e74c3c;
  --color-choreo-pause: #f1c40f;
  --color-choreo-none: #ecf0f1;


  --color-gray-superLight: #f8f8f8;
  --color-gray-light: #eee;
  --color-gray-dark: rgb(67, 79, 84);

}


@media (prefers-color-scheme: dark) {

}
