.ChoreoPart {
  padding: 10px;
  border-radius: 10px;
  background: var(--color-gray-light);
  margin-bottom: 10px;
  overflow: hidden;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-right: 40px;

  border: 0.5px solid rgba(0, 0, 0, 0.12);
}
.typeDown {
  background: var(--color-choreo-down);
}

.typeUp {
  background: var(--color-choreo-up);
}

.typePause {
  background: var(--color-choreo-pause);
}

.typeStop {
  background: var(--color-choreo-stop);
}

.typeNone {
  background: var(--color-choreo-none);
}

.ChoreoPart select,
.ChoreoPart input {
  font-family: var(--font-family-reg);
  color: var(--color-black);
}


.typeSelector,
.duration {
  border-radius: 2px;
  border: 0.5px solid rgba(0, 0, 0, 0.12);
  background: #FFFFFF55;
}

.duration {
  margin: 0 8px;
  max-width: 60px;
}

.remotes {
  margin-left: auto;
  display: flex;
}

.remote {
  width: 18px;
  height: 18px;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #00000022;
  margin: 0 2px;
  font-size: 13px;
  opacity: 0.2;
  cursor: pointer;
}

.remote_isActive {
  opacity: 1;
}

.removeBtn {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 0.5px solid rgba(0, 0, 0, 0.12);
  cursor: pointer;
}
.removeBtn:hover {
  background:  #00000022;
}
